/* You can add global styles to this file, and also import other style files */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  margin: 5% 10%;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
    color: darkcyan;
  }

  h3 {
    font-size: 1.2em;
  }
}
